body{

}
nav{
    background-color: black;
}
nav > div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    padding: 10px;
}
#a{
    text-decoration: none;
    color: azure;
}
.product-grid{
    display:grid;
   
}
